NEXT_PUBLIC_NILECARE_WHATSAPP_NUMBER=
NILECARE_WEBHOOK_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_IFRAME_ID=
META_PAGE_ID=
META_PAGE_ACCESS_TOKEN=
HF_API_TOKEN=
HF_MODEL=
